            {{- partial "header.html" . }}
            <div class="hmdl-list mdl-grid">
                <div class="mdl-card mdl-shadow--4dp mdl-cell--12-col">
                    <div class="mdl-card__media mdl-color-text--grey-50">
                        <h3>{{ .Title }}</h3>
                    </div>
                    {{- partial "pagination.html" }}
                    {{- range .Paginator.Pages }}
                    <div class="mdl-card__list-item mdl-color-text--grey-600">
                        <div class="hmdl-page-meta">
                            {{- with .Params.author.image }}
                            <div class="minilogo" style="background-image: url('{{ . }}');"></div>
                            {{- end }}
                            <div>
                                <strong><a href="{{ .Params.author.website }}">{{ .Params.author.name }}</a></strong>
                                <span>{{ .Date.Format "Jan 2, 2006" }}</span>
                            </div>
                            <a href="{{ .RelPermalink }}"><h5 class="mdl-color-text--grey-600">{{ title .Title }}</h5></a>
                        </div>
                    </div>
                    {{- end }}
                    {{- partial "pagination.html" }}
                </div>
            </div>
            {{ partial "footer.html" . }}
