            {{- partial "header.html" . }}
            <div class="hmdl-page mdl-grid">
                <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                    <div class="hmdl-page-banner mdl-card__media mdl-color-text--grey-50" style="{{with .Params.cardheaderimage}}background-image: url('{{.}}');{{end}} {{with .Params.cardbackground}}background-color:{{.}};{{end}}">
                        <h3 {{ with .Params.cardtitlecolor }}style="color:{{.}};"{{end}}>{{ title .Title }}</h3>
                    </div>
                    <div class="hmdl-page-meta mdl-color-text--grey-700 mdl-card__supporting-text">
                        {{- with .Params.author.image }}
                        <div class="minilogo" style="background-image: url('{{.}}');"></div>
                        {{- end }}
                        <div>
                            <strong>{{ .Params.author.name }}</strong>
                            <span>{{ .Date.Format "Jan 2, 2006" }}</span>
                        </div>
                        <div class="section-spacer"></div>
                    </div>
                    <div class="hmdl-page-content mdl-color-text--grey-700 mdl-card__supporting-text">
                        {{ .Content }}
                    </div>
                    <div class="hmdl-page-comments mdl-color-text--primary-contrast mdl-card__supporting-text comments"> 
                        <a href={{ .Params.author.website }}>{{ .Params.author.name }}</a>
                        <p>{{ .Params.author.description }}</p>
                    </div>  
                </div>
            </div>
            {{- partial "footer.html" . }}
