            {{- partial "header.html" . }}
            <div class="hmdl-page hmdl-about mdl-grid">
                <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                    <div id="hmdl-about-media" class="hmdl-page-banner mdl-card__media about-media" style="{{with .Params.cardheaderimage}}background-image: url('{{.}}');{{end}} {{with .Params.cardbackground}}background-color:{{.}};{{end}}">
                        <div class="profile-pic-container">
                            <div class="profilepic" style="background-image: url('{{ .Site.Params.avatar }}');"></div>
                        </div>
                    </div>

                    <div id="hmdl-about-text" class="hmdl-page-content mdl-color-text--grey-700 mdl-card__supporting-text">
                        <h3>{{ .Site.Params.author }}</h3>
                        <h6>{{ .Params.blurb }}</h6>
                        <div>
                            {{- if .Content }}
                                {{ .Content }}
                            {{- end }}

                            {{- if .Params.recentprojects }}
                            <div class="list">
                                <h4>Recent Projects</h4>
                                <ul>
                                    {{- range first .Params.recentprojects (where .Site.Pages "Section" "project") }}
                                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                                    {{- end }}
                                </ul>
                            </div>
                            {{- end }}

                            {{- if .Params.recentposts }}
                            <div class="list">
                                <h4>Recent Posts</h4>
                                <ul>
                                    {{- range first .Params.recentposts (where .Site.Pages "Section" "post") }}
                                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                                    {{- end }}
                                </ul>
                            </div>
                            {{- end }}
                        </div>
                    </div>
                </div>
            </div>
            {{- partial "footer.html" . }}
