            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer--left-section">
                    {{ partial "socialbtns.html" . }}
                </div>
                <div class="mdl-mini-footer--right-section">
                    <p>© {{ .Site.Params.copyrightyear }} {{ .Site.Params.name }}</p>
                </div>
            </footer>
        </main>
        <div class="mdl-layout__obfuscator"></div>
    </div>
    {{ partial "javascripts.html" .}}
    <script src="/js/prism.js"></script>
</body>


  
</html>