    <!-- Transparent Header and Menu Buttons -->
    <header class="mdl-layout__header mdl-layout__header--transparent mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            {{ if eq .Title "Projects" }}
            <span class="mdl-layout-title">{{ title .Title }}</span>
            {{ end }}
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class='mdl-navigation__link {{if .IsNode}}{{if eq (relURL .URL) ("/" | safeHTML)}}active{{end}}{{end}}' href="/">Home</a>
                <a class='mdl-navigation__link {{if .IsNode}}{{if eq (relURL .URL) ("/post/" | safeHTML)}}active{{end}}{{end}}' href="/post">Articles</a>
                <a class='mdl-navigation__link {{if .IsNode}}{{if eq (relURL .URL) ("/project/" | safeHTML)}}active{{end}}{{end}}' href="/project">Projects</a>
                <a class='mdl-navigation__link {{if .IsPage}}{{if eq (relURL .Permalink) ("/about/" | safeHTML)}}active{{end}}{{end}}' href="/about">About</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        {{ if eq .Title "Projects" }}<span class="mdl-layout-title">{{ title .Title }}</span>{{end}}
        <nav class="mdl-navigation">
            <a class='mdl-navigation__link {{if .IsNode}}{{if eq (relURL .URL) ("/" | safeHTML)}}active{{end}}{{end}}' href="/">Home</a>
            <a class='mdl-navigation__link {{if .IsNode}}{{if eq (relURL .URL) ("/post/" | safeHTML)}}active{{end}}{{end}}' href="/post">Articles</a>
            <a class='mdl-navigation__link {{if .IsNode}}{{if eq (relURL .URL) ("/project/" | safeHTML)}}active{{end}}{{end}}' href="/project">Projects</a>
            <a class='mdl-navigation__link {{if .IsPage}}{{if eq (relURL .Permalink) ("/about/" | safeHTML)}}active{{end}}{{end}}' href="/about">About</a>
        </nav>
    </div>