<a class="mdl-mini-footer--social-btn social-btn fa-social" href="mailto:{{ .Site.Params.email }}?subject=Hi">
    <i class="fa fa-envelope fa-2x"></i>
    <span class="visuallyhidden">Email</span>
</a>
<a class="mdl-mini-footer--social-btn social-btn fa-social" href="{{ .Site.Params.github }}">
    <i class="fa fa-github-square fa-2x"></i>
    <span class="visuallyhidden">Github</span>
</a>
<a class="mdl-mini-footer--social-btn social-btn fa-social" href="{{ .Site.Params.twitter }}">
    <i class="fa fa-twitter-square fa-2x"></i>                        
    <span class="visuallyhidden">Twitter</span>
</a>